<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>保单确认</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/book.css">
</head>
<body>
<div class="wrapper">
    <!--------------------------------------header_user begin------------------------------------->
    <div th:include="other/header :: header"></div>
    <!----------------------------------------header_nav end-------------------------------------->
    <div class="main_width container">
        <h1>一年意外险</h1>
        <div class="con_detail">
            <h2>产品信息</h2>
            <form th:action="@{|/create/|}" method="post">
                <input type="submit" value="111">
            </form>

            <h3>投保人信息</h3>

            <ul>
                <li>姓&nbsp;&nbsp;名：[[${data.tou.cust_name}]]</li>
                <li>性&nbsp;&nbsp;别：[[${data.tou.cust_sex}]]</li>
                <li>
                    [[${data.tou.license_id}]]
                    证件号码：
                    <span th:switch="${data.tou.license_id}">
                        <span th:case="1">身份证</span>
                        <span th:case="2">护照</span>
                        <span th:case="3">港澳通行证</span>
                        <span th:case="4">军官证</span>
                    </span>
                    --
                    [[${data.tou.cust_licenseno}]]
                </li>
                <li>出生日期：[[${data.tou.cust_bir}]]</li>
                <li>手机号码：[[${data.phone}]]</li>
            </ul>
            <h3>被保险人信息</h3>
            <ul th:each="i:${data.peoples}">
                <li>姓&nbsp;&nbsp;名：<span th:text="${i.insured_name}"></span></li>
                <li>性&nbsp;&nbsp;别：<span th:text="${i.insured_sex}"></span></li>
                <li>证件号码：
                    <span th:switch="${i.licnese_id}">
                        <span th:case="1">身份证</span>
                        <span th:case="2">护照</span>
                        <span th:case="3">港澳通行证</span>
                        <span th:case="4">军官证</span>
                    </span>
                    --
                    <span th:text="${i.license_no}"></span>
                </li>
                <li>出生日期：<span th:text="${i.birthday}"></span></li>
            </ul>
            <h2>受益人信息</h2>
            <ul>
                <li>
                    受益人：<em>法定</em>
                </li>
            </ul>
            <h2>支付金额</h2>
            <div class="total">
                <p>
                    保险金额：
                    <span class="wprice">
                        <span>￥</span>
                        <em>[[${data.money}]]</em>
                    </span>
                </p>
            </div>
            <div class="payment"><a th:href="@{|/payment/${data.order_id}/${data.money}/${data.starttime}/${data.insuredIds}|}" id="subBtn">立即付款</a></div>
        </div>
    </div>
    <!--footer begin-->
    <div th:include="other/footer :: footer"></div>
</div>
<script>

</script>
</body>
</html>