<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>保单确认</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/book.css">
    <link rel="stylesheet" href="css/center.css">
    <link rel="stylesheet" th:href="@{'/layui/css/layui.css'}">
    <style>
        .type1 {
            position: relative;
            float: left;
            padding: 7px;
            border-radius: 4px;
            background-color: #cf91ff;
            margin: 10px 10px;
            cursor: pointer;
        }

        .ibox {
            width: 232px;
            height: 146px;
            text-align: center;
            border: 2px dashed #bf75f9;
            overflow: hidden;
        }

        .ibox h3 {
            height: 30px;
            line-height: 30px;
            font-size: 24px;
            color: #850ebd;
            margin-top: 20px;
        }

        .ibox .note {
            height: 38px;
            line-height: 38px;
            padding-top: 4px;
            color: #a054db;
        }

        .ibox .btns {
            position: absolute;
            left: 30px;
            bottom: 20px;
            z-index: 1;
            width: 194px;
            height: 36px;
            line-height: 36px;
            font-size: 18px;
            background-color: #FFFFFF;
            border-radius: 2px;
            overflow: hidden;
        }

        .ibox span {
            width: 102px;
            float: left;
            color: #666;
        }

        .dui {
            margin-left: 102px;
            color: #fff;
            background-color: #850ebd;
            padding-right: 4px;
        }

    </style>
</head>
<body>
<div class="wrapper">
    <!--------------------------------------header_user begin------------------------------------->
    <div th:include="other/header :: header"></div>
    <!----------------------------------------header_nav end-------------------------------------->
    <div class="main_width container">
        <div align="center" style="width: 100%; height: 80px;border: 1px white solid;margin-top: -70px;">
            <h1 style="float: left; margin-left: 80px;border: 1px white solid;margin-top: 70px;">一年意外险</h1>
            <div style="border: 1px white solid; width: 90px;margin-left: -380px; margin-top: 115px;"><input
                    type="button" value="使用优惠券" class="layui-btn layui-btn-xs layui-btn-warm" id="useVoucher"/></div>
        </div>
        <div style="clear: both;"></div>
        <div class="con_detail">
            <h2>产品信息</h2>
            <h3>投保人信息</h3>

            <ul>
                <li>姓&nbsp;&nbsp;名：[[${data.tou.cust_name}]]</li>
                <li>性&nbsp;&nbsp;别：[[${data.tou.cust_sex}]]</li>
                <li>
                    [[${data.tou.license_id}]]
                    证件号码：
                    <span th:switch="${data.tou.license_id}">
                        <span th:case="1">身份证</span>
                        <span th:case="2">护照</span>
                        <span th:case="3">港澳通行证</span>
                        <span th:case="4">军官证</span>
                    </span>
                    --
                    [[${data.tou.cust_licenseno}]]
                </li>
                <li>出生日期：[[${data.tou.cust_bir}]]</li>
                <li>手机号码：[[${data.phone}]]</li>
            </ul>
            <h3>被保险人信息</h3>
            <ul th:each="i:${data.peoples}">
                <li>姓&nbsp;&nbsp;名：<span th:text="${i.insured_name}"></span></li>
                <li>性&nbsp;&nbsp;别：<span th:text="${i.insured_sex}"></span></li>
                <li>证件号码：
                    <span th:switch="${i.licnese_id}">
                        <span th:case="1">身份证</span>
                        <span th:case="2">护照</span>
                        <span th:case="3">港澳通行证</span>
                        <span th:case="4">军官证</span>
                    </span>
                    --
                    <span th:text="${i.license_no}"></span>
                </li>
                <li>出生日期：<span th:text="${i.birthday}"></span></li>
            </ul>
            <h2>受益人信息</h2>
            <ul>
                <li>
                    受益人：<em>法定</em>
                </li>
            </ul>
            <h2>支付金额</h2>
            <div class="total">
                <p>
                    保险金额：
                    <span class="wprice">
                        <span>￥</span>
                        <em id="moneyEM">[[${data.money}]]</em>
                    </span>
                </p>
            </div>
            <!-- @{|/payment/${data.order_id}/${data.money}/${data.starttime}/${data.insuredIds} -->
            <input type="hidden" id="order_id" th:value="${data.order_id}"/>
            <input type="hidden" id="money" th:value="${data.money}"/>
            <input type="hidden" id="stmoney" th:value="${data.money}"/>
            <input type="hidden" id="starttime" th:value="${data.starttime}"/>
            <input type="hidden" id="insuredIds" th:value="${data.insuredIds}"/>
            <input type="hidden" id="ccid"/>
            <div class="payment"><a href="#" id="subBtn">立即付款</a></div>
        </div>
    </div>
    <!--footer begin-->
    <div th:include="other/footer :: footer"></div>
</div>
<script th:src="@{'/js/jquery-1.12.3.min.js'}"></script>
<script type="text/javascript" th:src="@{'/layui/layui.js'}"></script>
<script type="text/html" id="use">
    <br/>
    <div style="margin-left: 50px;">
        {{# if(d.code === 1){ }}
        <div class="layui-form" style="width: 100%; height: 100%;">
            <div class="coupon_center">
                <div class="loading"></div>
                <div class="coupon_unused">
                    <ul class="list" id="voucherList">
                        {{# layui.each(d.data, function(index, c){ }}
                        <li class="type1">
                            <div class="ibox">
                                <h3>{{c.title}}</h3>
                                <p class="note">{{c.content}}</p>
                                <div class="btns">
                                    <span class="fen">{{c.cost}}积分</span>
                                    <p class="dui" style="background-color: #FFB800;"><input type='radio' value='{{c.ccid}};{{c.id}}'
                                                          title='使用' name='quan'/></p>
                                </div>
                            </div>
                        </li>
                        {{# }); }}
                    </ul>
                </div>
            </div>
        </div>
        {{# } }}
        {{# if(d.code === 0){ }}
        <h3>暂无可用优惠券</h3>
        {{# } }}
    </div>
</script>

<script>
    layui.use(['form', 'layer', 'laytpl'], function () {
        var layer = layui.layer,
            form = layui.form,
            laytpl = layui.laytpl;
        $("#subBtn").click(function () {
            var order_id = $("#order_id").val();
            var money = $("#money").val();
            var starttime = $("#starttime").val();
            var insuredIds = $("#insuredIds").val();
            var ccid = $("#ccid").val();

            if(ccid == null || ccid == ""){
                //未使用优惠券
                ccid =  "no@no";
            } else {
                //使用了优惠券
                ccid = ccid + "@yes";
                layer.msg('使用优惠券后,不可获得积分!', {
                    time: 20000, //20s后自动关闭
                    btn: ['好的'],
                    end: function () {
                        // /payment/${data.order_id}/${data.money}/${data.starttime}/${data.insuredIds}
                        var target = "/payment/" + order_id + "/" + money + "/" + starttime + "/" + insuredIds + "/" + ccid;
                        location = target;
                    }
                });
            }
            alert(ccid);

        });

        $("#useVoucher").click(function () {
            var b = false;
            if ($("#stmoney").val() < 80) {
                b = true;
                layer.msg('80元内的投保金额无法使用优惠券!', {
                    time: 20000, //20s后自动关闭
                    btn: ['好的']
                });
            }
            if (b) {
                return;
            }

            $.ajax({
                url: "/searchVoucher",
                type: "post",
                dataType: "json",
                success: function (result) {
                    var getTpl = document.getElementById("use").innerHTML;
                    laytpl(getTpl).render(result, function (html) {
                        layer.open({
                            type: 1
                            , title: false //不显示标题栏
                            , closeBtn: false
                            , area: ['90%', '100%']
                            , shade: 0.8
                            , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                            , btn: ['使用', '关闭']
                            , btnAlign: 'c'
                            , moveType: 1 //拖拽模式，0或者1
                            , content: html
                            , yes: function (index, layero) {
                                var val = $('input[name="quan"]:checked').val();
                                var vals = val.split(";");

                                var ccid = parseInt(vals[0]);
                                var id = parseInt(vals[1]);

                                var money = $("#stmoney").val();
                                if (id == 1) {
                                    layer.msg('您选择了<span style="color: #FFB800;">5元通用优惠券</span>是否使用该券?', {
                                        time: 20000, //20s后自动关闭
                                        btn: ['确定', '取消'],
                                        yes: function (index1, layero) {
                                            money -= 5;
                                            $("#money").val(money);

                                            $("#moneyEM").text(money);

                                            $("#ccid").val(ccid);
                                            layer.close(index1);
                                            layer.close(index);
                                        }, btn2: function (cls, layero) {
                                            layer.close(index);
                                        }
                                    });
                                } else if (id == 2) {
                                    if (money < 100) {
                                        layer.msg('投保金额需要满100元才能使用该券!', {
                                            time: 20000, //20s后自动关闭
                                            btn: ['好的']
                                        });
                                    } else {
                                        layer.msg('您选择了<span style="color: #FFB800;">20元通用优惠券</span>是否使用该券?', {
                                            time: 20000, //20s后自动关闭
                                            btn: ['确定', '取消'],
                                            yes: function (index1, layero) {
                                                money -= 20;
                                                $("#money").val(money);
                                                $("#ccid").val(ccid);
                                                $("#moneyEM").text(money);
                                                layer.close(index1);
                                                layer.close(index);
                                            }, btn2: function (cls, layero) {
                                                layer.close(index);
                                            }
                                        });
                                    }
                                } else if (id == 3) {
                                    if (money < 300) {
                                        layer.msg('投保金额需要满300元才能使用该券!', {
                                            time: 20000, //20s后自动关闭
                                            btn: ['好的']
                                        });
                                    } else {
                                        layer.msg('您选择了<span style="color: #FFB800;">60元通用优惠券</span>是否使用该券?', {
                                            time: 20000, //20s后自动关闭
                                            btn: ['确定', '取消'],
                                            yes: function (index1, layero) {
                                                money -= 60;
                                                $("#money").val(money);
                                                $("#ccid").val(ccid);
                                                $("#moneyEM").text(money);
                                                layer.close(index1);
                                                layer.close(index);
                                            }, btn2: function (cls, layero) {
                                                layer.close(index);
                                            }
                                        });
                                    }
                                }
                            }
                        });
                    });
                    form.render();
                }
            });
        });
    });

    function use(v) {
        alert(v);
    }
</script>
</body>
</html>
