<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="footer">
<!--footer begin-->
<div class="copyright">
    <div class="main_width footer">
        <div class="footer_nav">
            <p>
                <a href="#">关于京东金融</a>
                <span class="divider">|</span>
                <a href="#">关于京东小金库</a>
                <span class="divider">|</span>
                <a href="#">关于京东钱包</a>
                <span class="divider">|</span>
                <a href="#">关于京东白条</a>
                <span class="divider">|</span>
                <a href="#">联系我们</a>
                <span class="divider">|</span>
                <a href="#">免责声明</a>
            </p>
            <p>Copyright © 2004-2016 京东JD.com 版权所有<span class="divider">|</span>投资有风险，购买需谨慎</p>
        </div>
        <div class="footer_contact">
            <div class="f_contact_time">
                联系我们<span>（09:00-22:00）</span>
            </div>
            <div class="f_contact_content">
                <div class="f_cc_left">
                    <span class="f_cc_item">个人业务：400-098-8511</span>
                    <span class="f_cc_item">企业业务：400-088-8816</span>
                </div>
                <div class="f_cc_mid">
                    <a href="#" class="f_cc_link item_JIMI">咨询JIMI</a>
                    <a href="#" class="f_cc_link item_kefu">在线客服</a>
                </div>
                <div class="f_cc_right">
                    <a href="#" class="f_cc_link item_mail">客服邮箱</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer end-->
<div class="sideBar">
    <a href="#" class="slider_block app"><i></i></a>
    <a href="#" class="slider_block jimi"><i></i></a>
    <a href="#" class="slider_block feedback"><i></i></a>
    <a href="javascript:" class="slider_block backtop" id="backtop"><i></i></a>
</div>
</div>
</body>
</html>