.znxx{padding:40px;}
.znxx dt {
	font-size:16px;
	padding:7px 0;
	border-bottom:#ddd 1px dotted;
	height:44px;
	line-height:30px;
}
.znxx dt strong{
	display:inline-block;
}
.znxx dt span{
	display:inline-block;
	padding:0 10px;
	font-weight:400;
	font-size:12px;
	color:#999;
}
.znxx dt em{
	float:right;
	width:60px;
	text-align:right;
	height:30px;
	line-height:30px;
	font-style:normal;
	color:#cc0000;
	cursor:pointer;
}
.znxx dt em i{font-style:normal; display:none;}
.znxx dd{
	margin:10px 0;
	padding:20px;
	line-height:20px;
	background:#f9f9f9;
	border:#ECECEC 1px solid;
	font-size:14px;

	display:none;
}

.title5{
	font-size:18px;height:25px; line-height:25px;padding-left:25px;position:relative;}
.title5 strong{ display:inline-block; font-weight:400;padding:0 7px; background:#fff; height:25px; position:relative;z-index:8;}
.title5 .xian2{ position:absolute;left:0;top:10px;width:100%; display:block;height:1px; background:#E7ECEE;}
.Article{ font-size:14px; line-height:37px;}