<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>保险后台管理系统</title>
    <link rel="stylesheet" href="/layui/css/layui.css" />
    <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/layui/layui.js"></script>
</head>
<body>
    <input type="hidden" value="" id="webSocketUser"/>
    <div class="layui-layout layui-layout-admin"  >
        <div class="layui-header layui-bg-black">
            <div class="layui-logo">
                大特保管理中心
            </div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-right" >
                <li class="layui-nav-item"><a href="#" th:text="${session.emp_account?.emp_username}"></a></li>
                <li class="layui-nav-item"><a href="/exit">退出</a></li>
            </ul>

        </div>
        <div class="layui-side layui-bg-black ">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item" th:if="${session.emp_account?.type eq 1 || session.emp_account?.type eq 3}"><!--1.立案管理员 3.立案审核员-->
                        <a href="javascript:;">
                           <i class="layui-icon layui-icon-survey" style="font-size: 20px; color: white;">立案管理</i>
                        </a>
                        <dl class="layui-nav-child">
                            <dd th:if="${session.emp_account?.type==1}">
                                <a href="#" data-url="/index/case_report" data-title="报案申请"
                                   data-id="11" class="site-demo-active" data-type="tabAdd">报案申请</a>
                            </dd>
                            <dd th:if="${session.emp_account?.type==1}">
                                <a href="#" data-url="/report/list?statu=0" data-title="申请列表"
                                   data-id="12" class="site-demo-active" data-type="tabAdd">申请列表</a>
                            </dd>
                            <dd th:if="${session.emp_account?.type==3}">
                                <a href="#" data-url="/verify/list?statu=0" data-title="案情总审"
                                   data-id="13" class="site-demo-active" data-type="tabAdd">案情总审</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item" th:if="${session.emp_account?.type eq 2}">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-template-1" style="font-size: 20px; color: white;">查勘中心</i>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="#" data-url="/site_tasks?statu=0" data-title="现场勘查"
                                   data-id="21" class="site-demo-active" data-type="tabAdd">现场勘查</a>
                            </dd>
                            <dd>
                                <a href="#" data-url="/people_tasks?statu=0" data-title="人员勘查"
                                   data-id="22" class="site-demo-active" data-type="tabAdd">人员勘查</a>
                            </dd>
                            <dd>
                                <a href="#" data-url="/event_tasks?statu=0" data-title="事件勘查"
                                   data-id="23" class="site-demo-active" data-type="tabAdd">事件勘查</a>
                            </dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item" th:if="${session.emp_account?.type eq 4 || session.emp_account?.type eq 5}">
                        <a href="javascript:;">

                            <i class="layui-icon layui-icon-rmb" style="font-size: 20px; color: white;">赔付中心</i>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="#" data-url="/cases/list?statu=0" data-title="未处理案件"
                                   data-id="31" class="site-demo-active" data-type="tabAdd">未处理案件</a>
                            </dd>
                            <dd th:if="${session.emp_account?.type eq 4}">
                                <a href="#" data-url="/cases/list?statu=1" data-title="处理中案件"
                                   data-id="32" class="site-demo-active" data-type="tabAdd">处理中案件</a>
                            </dd>
                            <dd th:if="${session.emp_account?.type eq 5}">
                                <a href="#" data-url="/cases/myCases" data-title="我的案件"
                                   data-id="33" class="site-demo-active" data-type="tabAdd">我的案件</a>
                            </dd>
                            <dd th:if="${session.emp_account?.type eq 4}">
                                <a href="#" data-url="/cases/list?statu=2" data-title="已赔付案件"
                                   data-id="34" class="site-demo-active" data-type="tabAdd">已赔付案件</a>
                            </dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-edit" style="font-size: 20px; color: white;">退保管理</i>
                        </a>
                        <dl class="layui-nav-child">
                            <dd >
                                <a href="#" data-url="/showExitPolicy" data-title="处理用户申请"
                                   data-id="56" class="site-demo-active" data-type="tabAdd">处理用户申请</a>
                            </dd>

                            <dd th:if="${session.emp_account?.type eq 7}">
                            <a href="#" data-url="/showPersonPolicy/1" data-title="个人任务"
                               data-id="57" class="site-demo-active" data-type="tabAdd">个人任务</a>
                        </dd>
                            <dd th:if="${session.emp_account?.type eq 9}">
                                <a href="#" data-url="/showPersonPolicy/2" data-title="个人任务"
                                   data-id="57" class="site-demo-active" data-type="tabAdd">个人任务</a>
                            </dd>
                        </dl>
                    </li>


                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-template-1" style="font-size: 20px; color: white;">流程管理</i>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="#" data-url="/processDefinition/deploy" data-title="部署流程定义"
                                   data-id="41" class="site-demo-active" data-type="tabAdd">部署流程定义</a>
                            </dd>
                            <dd>
                                <a href="#" data-url="/showProcessDefinition" data-title="查看流程定义"
                                   data-id="42" class="site-demo-active" data-type="tabAdd">查看流程定义</a>
                            </dd>
                            <dd>
                                <a href="#" data-url="/getAll" data-title="查看所有报案单"
                                   data-id="43" class="site-demo-active" data-type="tabAdd">查看所有报案单</a>
                            </dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>

        <div class="layui-center">欢迎使用</div>
        <div class="layui-tab" lay-filter="demo" lay-allowclose="true"
             style="margin-left: 200px;">
            <ul class="layui-tab-title">
            </ul>
            <ul class="rightmenu" style="display: none; position: absolute;">
                <li data-type="closethis" class="layui-bg-black ">关闭当前</li>
                <li data-type="closeall" class="layui-bg-black ">关闭所有</li>
            </ul>
            <div class="layui-tab-content"></div>
        </div>
    </div>

    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>