<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <Link rel="stylesheet" type="text/css"
          href="/layui/css/layui.css" media="all" />

    <style>
        #body .full{
            width:100%;
        }
        a{
            color: #01AAED;
        }
    </style>
</head>
<body>

<h2 class="title" style="text-align: center">处理个人任务</h2>
<br>
<table class="table table-bordered">
    <tr>
        <th>申请人</th>
        <th>保单号</th>
        <th>用户身份证号</th>
        <th>用户银行卡号</th>
        <th>用户身份证照</th>
        <th>申请时间</th>
        <th>状态</th>
        <th>保单详情</th>
        <th>操作</th>
    </tr>

    <tr th:each="e,st:${list}">
        <td th:text="${e.custname}"></td>
        <td th:text="${e.policyid}"></td>
        <td th:text="${e.custno}"></td>
        <td th:text="${e.custcardno}"></td>
        <td ><a th:href="@{|/showimg/${e.eid}/png|}" target="_blank">查看证件照</a></td>
        <td th:text="${e.createtime}"></td>
        <td th:if="${e.exitstatu==1}">经理审核</td>
        <td th:if="${e.exitstatu==3}">财务审核</td>




        <td ><a th:href="@{|/showimg/${e.eid}/pdf|}" target="_blank">查看保单</a></td>
        <td><a class="btn btn-xs btn-info" href="#" >审核</a>
            <input type="hidden"  th:value="${e.eid}">
        </td>

    </tr>
</table>
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script>
    $(".btn").click(function () {
        location="/auditExitPolicy/"+$(".btn").next().val();
    })

</script>
</body>
</html>