<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <style type="text/css">
        a{
            text-align: center;
            text-decoration: none;
            color: blue;
        }
        a:hover{
            color:red;
        }
        table,th,tr,td{
            border: 1px black solid;
            border-collapse: collapse;;
        }
    </style>
</head>
<body>
    <table class="table table-bordered" style="margin-top:60px;align-items: center;">
        <tr style="color:red;">
            <th align="center" colspan="9">审核中的任务</th>
        </tr>
        <Tr id="t1">
            <th>申请人</th>
            <th>受保人</th>
            <Th>申请时间</Th>
            <Th>查看流程图</Th>
            <Th>查看任务</Th>
            <Th>删除当前业务</Th>
        </Tr>

        <tr th:each="r,st:${list}" align="center">
            <td th:text="${r.cr_name}"></td>
            <td th:text="${r.insured_name}"></td>
            <td th:text="${r.cr_time}"></td>
            <Td>
                <a th:href="@{|/showActiveMap/${r.instanceId}|}">查看流程图</a>
            </Td>
            <td>
                <A th:href="@{|/showHistoryTask/${r.instanceId}|}">查看任务</A>
            </td>
            <Td>
                <A th:href="@{|/delProcessInstance/${r.instanceId}|}" onclick="return confirm('你确定要删除吗?')">删除</A>
            </Td>
        </tr>
    </table>
</body>
</html>