<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/cases_detailed.css}"/>
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
</head>
<body>
    <h1 style="text-align: center">案件信息</h1>
    <div th:replace="compensation/cases_detailed :: cases_detailed"></div>

    <form action="/cases/nextStep" id="form" method="post">
        <input type="hidden" name="id" th:value="${cases.id}"/>
    </form>

    <div th:if="${cases.step == 0}">
        <span class="label label-info">确认意外赔付情况</span><br/><br/>
        <button id="btn1" type="button" class="btn btn-info">按伤情赔付</button>
        <button id="btn2" type="button" class="btn btn-info">全额赔付</button>
        <script type="text/javascript">
            var f=$("#form");
            $("#btn1").click(function(){
                f.append($("<input type='hidden' name='step' value='1'/>"));
                f.submit();
            });
            $("#btn2").click(function(){
                f.append($("<input type='hidden' name='step' value='2'/>"));
                f.submit();
            });
        </script>
    </div>

    <div th:if="${cases.step == 1}">
        <span class="label label-info">确认意外赔付情况</span> / <span class="label label-info">按伤情赔付</span><br/><br/>
    </div>

    <div th:if="${cases.step == 2}">
        <span class="label label-info">确认意外赔付情况</span> / <span class="label label-info">全额赔付</span><br/><br/>
    </div>
</body>
</html>