<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>常用联系人</title>
    <link rel="stylesheet" href="../plugins/eleme-ui/index.css" />
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/center.css">



    <!--js类引用-->



</head>
<body>
<div class="wrapper">
    <!--------------------------------------header_user begin------------------------------------->
    <div th:include="custop/header :: header"></div>
    <!----------------------------------------header_nav end-------------------------------------->
    <!--container-->
    <div class="container">
        <div class="main_width fix mycenter_box mycenter_contact">
            <div th:include="custop/left :: left"></div>




            <!--常用联系人-->
            <div class="mycenter_right fix" id="normalmam">
                <!--常用联系人列表-->
                <div class="contact_list">
                    <a href="#" class="add_btn" id="addfamily" onclick="showadddiv()">添&nbsp;加</a>

                    <div class="tBox loading"></div>



                    <div class="tBox no_contact listNull"  th:if="${size==0}">暂无常用联系人</div>


                    <div class="tBox list_box" th:if="${size>0}">
                        <div class="loading"></div>
                        <ul class="tit">
                            <li class="fix">
                                <p class="name">姓名</p>
                                <p class="type">证件类型</p>
                                <p class="number">证件号码</p>
                                <p class="birth">出生日期</p>
                                <p class="sex">性别</p>
                                <p class="opreat">操作</p>
                            </li>
                        </ul>
                        <ul class="con">

                            <li class="fix" th:each="k,st:${list}">
                                <p class="name">[[${k.insured_name}]]</p>
                                <p class="type">[[${k.license_name}]]</p>
                                <p class="number">[[${k.license_no}]]</p>
                                <p class="birth">[[${k.birthday}]]</p>
                                <p class="sex">[[${k.insured_sex}]]</p>
                                <p class="operate">
                                    <a href="javascript:" class="edit" id="edit">编辑</a>
                                    <input type="hidden" name="editid" th:value="${k.insured_id}">
                                    <a th:href="@{|/dellm/${k.insured_id}|}" class="del" style="color: red"

                                       onclick="return confirm('确定要删除吗?')"


                                    >删除</a>
                                </p>
                            </li>
                        </ul>
                        <div class="pagination_page" id="contactPage">
                            <span class="current prev">上一页</span>
                            <span class="current">1</span>
                            <span class="current next">下一页</span>
                        </div>
                    </div>

                </div>
            </div>


            <form action="/oplinkman" method="post" id="op">

                <input type="hidden" value="" name="insured_id" id="insured_id">
            <!--添加常用联系人-->
            <div style="display: none;" class="mycenter_right fix" id="adddiv">
                <div class="contact_add">
                    <h2 class="tit">添加/修改常用人</h2>
                    <!--姓名-->
                    <div class="i_box fix">
                        <label for="familyName">姓&emsp;&emsp;名<i>*</i></label>
                        <input type="text" class="f_input" id="familyName" name="name">
                        <span class="error">请输入姓名</span>
                    </div>
                    <!--性别-->
                    <div class="i_box fix">
                        <label for="sexBox">性&emsp;&emsp;别<i>*</i></label>
                        <div  id="sexBox">
                            <i></i>
                            <select name="sex" class="select_box select_type">
                                <option value="男" selected>男</option>
                                <option value="女">女</option>

                            </select>
                            <span class="error">请填写性别</span>
                        </div>

                    </div>
                    <!--证件类型-->
                    <div class="i_box fix">
                        <label for="idType">证件类型<i>*</i></label>
                        <div id="idType">
                            <i></i>
                            <select name="lid" class="select_box select_type">
                                <option value="1" selected>身份证</option>
                                <option value="2">护照</option>
                                <option value="3">港澳通行证</option>
                                <option value="4">军官证</option>
                            </select>
                            <span class="error">请填写证件类型</span>
                        </div>
                    </div>
                    <!--证件号码-->
                    <div class="i_box fix">
                        <label for="idNumber">证件号码<i>*</i></label>
                        <input type="text" class="f_input" id="idNumber" name="lno">
                        <span class="error">请填写证件号码</span>
                    </div>
                    <!--出生日期-->
                    <div class="i_box fix">
                        <label for="birthBox">出生日期<i>*</i></label>
                        <div class="address_box" id="birthBox">
                          <input type="date" name="bir">
                        </div>
                        <span class="error">请选择出生日期</span>
                    </div>
                    <!--地址-->
                    <div class="i_box fix">
                        <label for="addressBox">地&emsp;&emsp;址</label>
                        <div class="address_box" id="addressBox">
                            <div id="myVue"  >
                                <el-form ref="form" :model="form" >
                                    <el-form-item  label="">

                                    </el-form-item>
                                    <el-form-item  label="">
                                    </el-form-item>
                                    <el-form-item  label="">
                                        <el-cascader
                                                :options="CityInfo"
                                                v-model="form.selectedOptions"
                                                :change-on-select="true"
                                                :clearable="true"
                                                :filterable="true"
                                                @change="handleChange">
                                        </el-cascader>


                                        <span style="color: #ff6700;font-size: 16px;margin: 3px" id="span">{{form.city | myAddressCity}}{{form.erae | myAddressErae}}{{form.minerae | myAddressMinerae}}</span>

                                    </el-form-item>
                                </el-form>
                            </div>

                        </div>


                        <!--<span class="error">请选择地址</span>-->
                    </div>

                    <input type="hidden"  id="address" name="address" value="">

                    <div class="btns_box">
                        <a href="javascript:" class="submit_btn" id="submitBtn">保&emsp;存</a>
                        <a href="javascript:" class="back_btn" id="backBtn">返&emsp;回</a>
                    </div>
                </div>
            </div>

            </form>
        </div>
    </div>



        </div>
    </div>

    <!--footer begin-->
<div th:include="custop/footer :: footer"></div>
</div>
<script src="../js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="../plugins/vue/vue.min.js" ></script>
<script type="text/javascript" src="../plugins/eleme-ui/index.js" ></script>
<script type="text/javascript" src="../plugins/city-picker/city-data.js" ></script>
<script type="text/javascript" src="../js/CivilMilitaryIntegration/ShoppingCart.js" ></script>

<script>
    $(function(){
       $("#policy").removeClass("active");
       $("#family").addClass("active");

    });
    function showadddiv() {
        $("#op")[0].reset();
        $("#normalmam").hide();
        $("#adddiv").show();
    }
    $("#backBtn").click(function () {
        $("#normalmam").show();
        $("#adddiv").hide();
    })

    $("#submitBtn").click(function () {
        var address=$("#span").text();
        $("#address").val(address);
        $("#op").submit();
    })

    $(".edit").click(function () {
        var editid=$(this).next().val();
        $.ajax({
            url:"/toedit/"+editid,
            type:"post",
            dataType:"json",
            success:function (data) {
                //alert(data.insured_id);
                $("#insured_id").val(data.insured_id);
                $("[name=name]").val(data.insured_name)

                $("[value="+data.insured_sex+"]").select();
                $("[value="+data.license_id+"]").select();

                $("[name=bir]").val(data.birthday);

                $("[name=lno]").val(data.license_no);

                $("#normalmam").hide();
                $("#adddiv").show();


            }
        })
    })
</script>


</body>
</html>