<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="left">
<div class="list_left" id="list_left">
    <ul>
        <li class="head">
            <img src="../images/center/side-head.png" alt="">
            <a href="#" class="tit">我的积分</a>
            <span class="integralAllNum count"><em th:text="${session.cust.score}">100</em></span>
        </li>
        <li>
            <h3 class="order list_til">我的订单</h3>
            <div>
                <ul>
                    <li class="active" id="policy"><a href="/showPolicy">我的保险</a></li>
                </ul>
            </div>
        </li>
        <li>
            <h3 class="per list_til">个人信息</h3>
            <div>
                <ul>
                    <li id="family"><a th:href="@{|/showAllLm/${session.cust.cust_id}|}">常用联系人</a></li>
                    <li id="safe"><a href="/tosafety" >账户及密码</a></li>
                    <li id="msg"> <a th:href="@{|/showMessage/${session.cust.cust_id}|}">消息中心</a></li>
                </ul>
            </div>
        </li>
        <li>
            <h3 class="wallet list_til">我的钱包</h3>
            <div>
                <ul>
                    <li  id="coupon"><a href="/showCoupon">优惠券</a></li>
                    <li id="score"><a href="/showScore" >我的积分</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
</div>

</body>
</html>