<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>消息中心</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/center.css">
    <link href="../css/css.css" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div th:include="custop/header :: header"></div>
    <!----------------------------------------header_nav end-------------------------------------->
    <!--container-->
    <div class="container">
        <div class="main_width fix mycenter_box">
            <div th:include="custop/left :: left"></div>
            <!--消息中心-->
            <div class="mycenter_right">
                <div class="jwx_message">
                    <div class="message_list"></div>
                    <div class="loading"></div>
                    <div class="empty_show listNull" th:if="${count==0}">
                        <span>您当前没有消息</span>
                    </div>

                    <div class="memberRbox2">
                    <h3 class="title5"><strong>我的消息</strong> <span class="xian2"></span></h3>
                    <div class="znxx">
                        <dl th:if="${count>0}">
                            <div th:each="m,st:${list}">
                            <dt>
                                <strong th:text="${m.mtitle}">恭喜您通过手机认证 </strong>
                                <span th:text="${m.mdate}">2015-03-24 18:42:40</span>

                                <img src="../images/weidu.gif" th:if="${m.isread==0}">
                                <em class="point"><b>展开 &gt;</b><i>收起 &or;</i></em>
                                <input type="hidden" name="mid" th:value="${m.msgid}">
                                <div class="clearfix"></div>
                            </dt>
                            <dd th:text="${m.mcontent}">
                                亲爱的wanghe，恭喜您已通过手机认证。您可在[通知设置]选择希望收到的提醒。<br />
                                感谢您对爱投资一如既往的支持，希望我们的服务能够带来您财富的增长。
                            </dd>
                            </div>
                        </dl>

                    </div>

                </div>
                    </div>
            </div>
        </div>
    </div>
    <!--footer begin-->
    <div th:include="custop/footer :: footer"></div>
</div>

<script src="../js/jquery-1.12.3.min.js"></script>
<script>
    $(function(){
        $("#policy").removeClass("active");
        $("#msg").addClass("active");



        $(".point").click(function () {
           $(this).parent().find("img").remove();
           var mid=$(this).next().val();
            $.ajax({
               url:'/updateStatu/'+mid,
                type:'post',
                success:function (data) {
                    if (data=='yes')
                    {

                    }
                }
            });

        })

    });

</script>
<script src="../js/jquery.js"></script>
<script src="../js/Action.js"></script>
<script src="../js/banner.js"></script>
<script src="../js/all.js"></script>



</body>
</html>