<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>安全中心</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/center.css">
</head>
<body>
<div class="wrapper">
    <!--------------------------------------header_user begin------------------------------------->
    <div th:include="custop/header :: header"></div>
    <!----------------------------------------header_nav end-------------------------------------->
    <!--container-->
    <div class="container">
        <div class="main_width fix mycenter_box mycenter_contact">
            <div th:include="custop/left :: left"></div>
            <!--账户及密码-->
            <div class="mycenter_right fix">
                <div class="safety_note">
                    <p>自动注册账户的密码请在手机短信中查找</p>
                    <a href="#" target="_blank">找不到了，直接修改</a>
                </div>
                <ul class="safety_con">
                    <li class="s_mobile">
                        <label>手&ensp;机&ensp;号</label>
                        <a href="javascript:" >修 &emsp;改</a>
                        <p>[[${session.cust.phone}]]</p>
                    </li>

                    <li class="s_psd">
                        <label>密&emsp;&emsp;码</label>
                        <a href="#"  id="editpwd">修&emsp;改</a>

                        <p><input type="password" th:value="${session.cust.password}" readonly  id="pwd"></p>
                        <a href="#" id="savepwd" style="font-size: 16px;font-weight: bold">保存</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--footer begin-->
    <div th:include="custop/footer :: footer"></div>

</div>
<script src="../js/jquery-1.12.3.min.js"></script>
<script>
    $(function(){
        $("#policy").removeClass("active");
        $("#safe").addClass("active");

        $("#editpwd").click(function () {

            if($(this).text()=='修改'){
                $(this).html("确定");
                $("#pwd").prop("type","text");
                $("#pwd").removeAttr("readonly")

            }else{
                $(this).html("修改");
                $("#pwd").prop("type","password");
                $('#pwd').prop("readonly",true);
            }


        })

        $("#savepwd").click(function () {
            var pwd=$('#pwd').val();
            $.ajax({
                url:"/editpwd/"+pwd,
                type:"post",
                success:function (data) {
                    if (data=='true'){
                        alert("ok>>>您的密码已修改,请重新登录");
                        location="/logout";
                    }
                }
            })
        })

    });








</script>
</body>
</html>